<html>
	<head>
		<title>{{.Title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{.Description}}">
		
		<meta property="og:title" content="{{.Title}}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{.URL}}">
		<meta property="og:image" content="{{.Image}}">
		<meta property="og:description" content="{{.Description}}">
	
		<style>
body { 
	color: black; 
	background-color: #eff4f3;
	font-family:  "Liberation Sans", Helvetica, "Trebuchet MS", sans-serif;
	margin: auto;
	padding: 1em;
	max-width: 72em;
}
 
pre { 
	background-color: black; 
	color: white; 
	font-size: 12pt; 
	padding: 1em;
	max-height: 50em;
	overflow: auto;
	-moz-tab-size: 2;
	tab-size: 2;
	font-family: monospace;
}

a {
	font-weight: bold;
	padding-right: .25em;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

img {
	max-width: 100%;
	margin-bottom: 1em;
	margin-right: 1em;
}

p {
	text-align: justify;
	line-height: 1.5em;
}

nav {
	width: 100%;
	text-align: right;
	margin-bottom: 2em;
}

ul {
}

li {
	margin-bottom: 1em;
}

.left {
	float: left;
}

.feature {
	width: 50%;
	margin: 0 25%;
}
		</style>
	</head>
	<body>
		<nav>
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="projects.html">Projects</a>
			<a href="rss.xml">RSS</a>
			<a href="https://github.com/thales17">Github</a>
		</nav>
