{{template "header.tmpl" .}}	
	{{if .Title}}
		<h1>{{.Title}}</h1>
	{{end}}
	{{if .Date}}
		<h5>{{.Date}}</h5>
	{{end}}
	{{range .Content}}
		{{if .Title}}
		<h2>{{.Title}}</h2>
		{{end}}
		{{if eq .Kind "paragraph"}}
		<p>{{htmlSafe .Body}}</p>
		{{else if eq .Kind "code"}}
		<pre>{{.Body}}</pre>
		{{else if eq .Kind "image"}}
		<img src="{{.Source}}" alt="{{.Alt}}" {{ if .Left }}class="left" {{else if .Feature }}class="feature"{{ end }}>
		{{else if eq .Kind "list"}}
		<ul>
			{{range .Items}}
			<li>{{.}}</li>
			{{end}}
		</ul>
		{{end}}
	{{end}}
{{template "footer.tmpl"}}
