{{template "header.tmpl" .}}
    <ul class="projects">
    {{range .Projects}}
        <li class="project">
            <div class="feature-img">
                <img src="{{.Image}}" alt="{{.Name}}">
            </div>
            <a href="{{.URL}}">{{.Name}}</a>
            <span><a href="{{.Github}}">Code</a>{{if .RunURL}} <a href="{{.RunURL}}">Run</a>{{end}}</span>
        </li>
    {{end}}
    </ul>
{{template "footer.tmpl"}}