{{template "header.tmpl" .}}
    <ul>
    {{range .Posts}}
        <li>
            <img src="{{.Image}}" alt="{{.Name}}>
            <a href="{{.URL}}">{{.Name}}</a>
            <a href="{{.Github}}">Github</a>
        </li>
    {{end}}
    </ul>
{{template "footer.tmpl"}}